footer.main-footer
    .pull-right.hidden-xs
      b Version
      |  #{version}
    |     
    strong
      | Copyright &copy; #{year} 
      a(href=companyurl) #{company}
      | .
    |  All rights
    |     reserved.
    script(src=rooturl+'alertifyjs/alertify.min.js')
    script(src=rooturl+'apps/csyber/js/csyber.js')
      
