// Left side column. contains the logo and sidebar
aside.main-sidebar
  // sidebar: style can be found in sidebar.less
  section.sidebar
    form.sidebar-form(action='#', method='get')
      .input-group
        input.form-control(type='text', name='q', placeholder='Search...')
        |               
        span.input-group-btn
          button#search-btn.btn.btn-flat(type='submit', name='search')
            i.fa.fa-search
    // /.search form
    // sidebar menu: : style can be found in sidebar.less
    ul.sidebar-menu.leftsidebarcontainer(data-widget='tree')
      li.header Main Navigation
      |
      li.treeview
        if(elements.defaultapp !== false && elements.defaultapp !== undefined)
          a(href='#!'+elements.defaultapp class="homebtn")
            i.fa.fa-home
            span &nbsp;Home 
        else if(elements.defaultapp === false || elements.defaultapp === undefined)
          a(href='#')
            i.fa.fa-home
            span &nbsp;Home 
      |
      li.treeview.appstree
        a(href='#')
          i(class= sidemenuitems.apps.class+ " applicationsicon")
          |  
          span Applications
          |             
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu.appscontainer
            each element in sidemenuitems.apps.apps   
              if(element.displayname !== false) 
                li
                  if(element.url != '#')
                    a.sidease(href=rooturl+element.url)
                    a.sidea(href=rooturl+'#!'+element.url type="app" id=element.name+"app")
                      i(class=element.class || "fa fa-circle-o")
                      |  #{element.displayname}
                      |
                    |
                  else 
                    a.sidea(href='#'  content= element.name type="app")
                      i.fa.fa-circle-o
                      |  #{element.name}
                      |
                    |
              |
      |
      
        
      if(elements.others)
        each element in elements.others
            |
            li.treeview
              a(href=element.url)
                i(class= element.class+ " dashboardsicon")
                |  
                span #{element.name}
                | 
                if(element.children)            
                  span.pull-right-container
                    i.fa.fa-angle-left.pull-right
                  ul.treeview-menu.dashboardscontainer
                    each elem in element.children   
                      li
                        if(elem.url != '#')
                          a.sidea(href=rooturl+elem.url content= elem.name type="dash")
                            i.fa.fa-circle-o
                            |  #{elem.name}
                            |
                          |
                        else 
                          a.sidea(href='#' content= elem.name type="dash")
                            i.fa.fa-circle-o
                            |  #{elem.name}
                            |
                          |
                    |
      |
    |
    ul.sidebar-menu.sectionscontainer(data-widget='tree')
    |
    ul.sidebar-menu(data-widget='tree')
      li.header My Account
      if(elements.isguest)
        li.treeview
          a(href="#").pregloginbtn
            i.fa.fa-sign-in.text-primary
            span &nbsp;Login
        li.treeview.presignupbtn
          a(href="#")
            i.fa.fa-fw.fa-user-plus.text-success
            span &nbsp;Register
        

      else
        li.treeview
          a.sideap(href="#!/csyma/page/csyma/csyma_profile")
            i.fa.fa-user
            span My Profile
        li.treeview
          a(href="/auth/logout")
            i.fa.fa-sign-out.text-danger
            span &nbsp;Log out
    |
    ul.sidebar-menu(data-widget='tree')
      li.header Resources
      li.treeview
        a(href="#")
          i.fa.fa-shopping-bag.text-info
          span &nbsp;Cshop
      li.treeview
        a(href="#")
          i.fa.fa-book.text-info
          span &nbsp;Blog
      li.treeview
        a(href="#")
          i.fa.fa-envelope
          span &nbsp;Contact
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li.treeview
            a(href="#")
              i.fa.fa-envelope.text-info
              span &nbsp;Email
          li.treeview
            a(href="#")
              i.fa.fa-facebook.text-info
              span &nbsp;Facebook
          li.treeview
            a(href="#")
              i.fa.fa-twitter.text-info
              span &nbsp;Twitter
          li.treeview
            a(href="#")
              i.fa.fa-mobile.text-info
              span &nbsp;Telephone
    |

    |
    ul.sidebar-menu(data-widget='tree')
      li.header Contribute
      li.treeview
        a(href="#")
          i.fa.fa-github
          span &nbsp;Github 